.header {
  padding: 15px 0;
  color: $red;
  background-color: var(--contrast);
  transition: background-color .2s ease-in-out;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
  }
  &__nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__nav-item {
    display: flex;
    gap: 9px;
    transition: filter .3s ease-in-out;
    &:hover {
      filter: brightness(0.8);
    }
  }
  &__btn {
    width: 24px;
    height: 24px;
    svg {
      transition: fill .2s ease-in-out;
    }
    &:hover {
      svg {
        fill: $dark-red;
      }
    }
  }
}
