.home {
  padding: 100px 0;
  .container {
    display: flex;
    gap: 16px;
  }
  &__content {
    width: 40%;
  }
  .title {
    margin-bottom: 5px;
  }
  &__list {
    margin-bottom: 25px;
  }
  &__list-item {
    position: relative;
    padding-left: 22px;
    line-height: 33px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 14px;
      width: 5px;
      height: 5px;
      background-color: $dark-red;
      border-radius: 100%;
    }
  }
}
