.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(#000, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    background-color: #ffffff;
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
  }
  &__close {
    position: absolute;
    right: 14px;
    top: 14px;
    transition: filter .3s ease-in-out;
    &:hover {
      filter: brightness(0.7);
    }
  }
  .red {
    margin-bottom: 10px;
  }
  .cancel-btn {
    font-weight: 300;
    text-decoration: underline;
    font-size: 16px;
  }
  .title {
    margin-bottom: 14px;
  }
}
