.settings {
  padding: 88px 0;
  .title {
    margin-bottom: 25px;
  }
  &__subtitle {
    margin-bottom: 15px;
  }
  &__field {
    margin-bottom: 30px;
    &:last-child {
      display: flex;
      align-items: center;
      h3 {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
  &__value {
    margin: 0 20px;
    font-size: 32px;
  }
  &__control {
    display: inline-flex;
    align-items: center;
    svg {
      width: 24px;
      height: 24px;
    }
    span:last-child {
      margin-left: 12px;
    }
  }
  &__btn {
    transition: all 0.2s ease-in-out;
    &:active {
      transform: scale(0.9);
    }
    &:hover {
      filter: brightness(0.8);
    }
  }
  &__toggle {
    width: 60px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--contrast-invert);
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 50%;
      background-color: var(--contrast);
      transition: all .2s ease-in-out, background-color 0ms;
      width: 24px;
      height: 24px;
    }
    svg {
      fill: var(--contrast);
      position: absolute;
      width: 20px;
      height: 20px;
      top: 4px;
      &:first-child {
        left: 2px;
        width: 26px;
        height: 26px;
        top: 2px;
      }
      &:last-child {
        right: 4px;
      }
    }
    &.dark {
      &::before {
        transform: translateX(30px);
      }
    }
  }
}
