.btn {
  padding: 19px 50px;
  background-color: $green;
  transition: all .3s ease-in-out;
  line-height: 17px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  color: #ffffff;
  border: 2px solid $green;
  &:hover {
    background-color: $dark-green;
    border-color: $dark-green;
  }
  &.red {
    background-color: $red;
    border-color: $red;
    &:hover {
      background-color: $dark-red;
      border-color: $dark-red;
    }
  }
}
.btn-outlined {
  border-color: $red;
  background-color: transparent;
  color: $red;
  &:hover {
    color: #ffffff;
    background-color: $red;
  }
  &.disabled {
    color: $smoke;
    border-color: $smoke;
    pointer-events: none;
  }
}
